<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>예치금 충전</title>
</head>

<body>
<main layout:fragment="main">
    <script src="https://js.tosspayments.com/v1"></script>
    <script th:inline="javascript">
        const memberId = /*[[ ${member.id} ]]*/ null;
        const memberName = /*[[ ${member.username} ]]*/ null;

    </script>

    <section class="section section-join flex-grow flex flex-col items-center justify-center">

        <div class="max-w-md w-full px-2 pt-4">
            <h1 class="font-bold text-lg">예치금 충전</h1>

            <div class="flex flex-col gap-3 mt-3">
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">금액</span>
                    </label>
                    <input type="text" name="price" id="price"
                           placeholder="충전할 금액" class="input input-bordered" maxlength="50">
                </div>


                <button onclick="payment();" class="btn btn-sm btn-primary">충전</button>



            </div>
        </div>

    </section>

    <script>
        const tossPayments = TossPayments("test_ck_N5OWRapdA8d7KXb1KPRro1zEqZKL");

        function payment() {

            const price = document.getElementById('price').value;

            const method = "카드"; // "카드" 혹은 "가상계좌"

            const paymentData = {
                amount: price,
                orderId: "member__" + memberId + "__" + (Math.random() + "").substring(2),
                orderName: '예치금 충전',
                customerName: memberName,
                successUrl: window.location.origin + "/order/charge/" + memberId + "/success",
                failUrl: window.location.origin + "/order/charge/" + memberId + "/fail"
            };

            tossPayments.requestPayment(method, paymentData);
        }
    </script>

</main>
</body>
</html>