<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>도서 리스트</title>
</head>

<body>
<main layout:fragment="main">
    <section class="section section-join flex-grow flex flex-col items-center justify-center">
        <div>
            <h1>도서 리스트</h1>

            <table>
                <tr>
                    <th>번호</th>
                    <th>상품명</th>
                    <th>가격</th>
                    <th>작성자 </th>
                    <th>작성 날짜</th>
                    <th>장바구니</th>
                </tr>
                <tr th:each="product : ${products}">
                    <td th:text="${product.id}" th:id="${product.id}"
                        th:onclick="showDetail(this.getAttribute('id'))"
                    ></td>
                    <td th:text="${product.subject}" th:id="${product.id}"
                        th:onclick="showDetailProduct(this.getAttribute('id'))"></td>
                    <td th:text="${product.price}" th:id="${product.id}"
                        th:onclick="showDetailProduct(this.getAttribute('id'))"></td>
                    <td th:text="${product.author.username}" th:id="${product.id}"
                        th:onclick="showDetailProduct(this.getAttribute('id'))"></td>
                    <td th:text="${product.createDate}" th:id="${product.id}"
                        th:onclick="showDetailProduct(this.getAttribute('id'))"></td>
                    <td th:id="${product.id}"
                        th:onclick="addCart(this.getAttribute('id'))" class="btn btn-secondary btn-outline">담기</td>
                </tr>
            </table>
            <div class="grid grid-cols-2 mt-2 gap-2">
                <a href="/product/create" class="btn btn-secondary btn-outline">도서등록</a>
                <button type="button" onclick="history.back();" class="btn btn-secondary btn-outline">취소</button>
            </div>

        </div>

    </section>

</main>
</body>
</html>