<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <title>상품 수정</title>
    <!--위지윅 에디터-->
    <script src="https://cdn.ckeditor.com/4.20.0/standard/ckeditor.js"></script>
</head>

<body>
<main layout:fragment="main">
    <section class="section section-join flex-grow flex flex-col items-center justify-center">
        <div>
            <h1>상품 수정 </h1>
            <script>
                let ProductModify__submitDone = false;
                function ModifyForm__submit(form) {
                    form.subject.value = form.subject.value.trim();

                    if (form.subject.value.length == 0) {
                        warningModal("제목을 입력해주세요.");
                        form.subject.focus();
                        return;
                    }
                    form.price.value = form.price.value.trim();

                    if (form.price.value.length == 0) {
                        warningModal("가격을 입력해주세요.");
                        form.price.focus();

                        return;
                    }

                    form.submit();
                    ProductModify__submitDone = true;
                }
            </script>
            <form th:action method="POST" enctype="multipart/form-data" onsubmit="ModifyForm__submit(this); return false;">
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">제목</span>
                    </label>
                    <input autofocus type="text" name="subject" placeholder="제목" class="input input-bordered"
                           maxlength="50" th:value="${product.subject}">
                </div>
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">가격</span>
                    </label>
                    <input autofocus type="text" name="subject" placeholder="제목" class="input input-bordered"
                           maxlength="50" th:value="${product.price}">
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">해시 태그</span>
                    </label>
                    <input autofocus type="text" name="hashTagContents" placeholder="#태그1 #태그2" class="input input-bordered"
                          maxlength="50" th:value="${product.extra_inputValue_hashTagContents}" readonly>
                </div>

                <div class="grid grid-cols-2 mt-2 gap-2">
                    <input type="submit" class="btn btn-secondary btn-outline" value="수정">
                    <button type="button" onclick="history.back();" class="btn btn-secondary btn-outline">취소</button>
                </div>
            </form>
        </div>
    </section>
</main>
</body>
</html>