<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>회원정보 수정</title>
</head>

<body>
<main layout:fragment="main">
    <section class="section section-join flex-grow flex flex-col items-center justify-center">

        <div class="max-w-md w-full px-2 pt-4">
            <h1 class="font-bold text-lg">아이디 찾기</h1>
            <script>
                function FindUsername__submit(form) {
                    form.email.value = form.email.value.trim();
                    if (form.email.value.length == 0) {
                        warningModal("이메일을 입력해주세요.");
                        form.email.focus();
                        return;
                    }
                    form.submit();
                }
            </script>

            <form th:action method="POST" enctype="multipart/form-data" onsubmit="FindUsername__submit(this); return false;">
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">이메일</span>
                    </label>
                    <input autofocus type="email" name="email" placeholder="이메일" class="input input-bordered"
                           maxlength="50">
                </div>
                <div class="grid grid-cols-2 mt-2 gap-2">
                    <input type="submit" class="btn btn-secondary btn-outline" value="아이디 찾기"></input>
                </div>
                <br/><br/><br/><br/><br/><br/><br/><br/><br/>
                <div class="grid grid-cols-2 mt-2 gap-2">
                    <a href="/member/findPassword" class="btn btn-secondary btn-outline">비밀번호 찾기</a>
                    <a href="/member/login" class="btn btn-primary" >뒤로 가기</a>
                </div>
            </form>
        </div>
    </section>

</main>
</body>
</html>