<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>글 리스트</title>
</head>

<body>
<main layout:fragment="main">
    <section class="section section-join flex-grow flex flex-col items-center justify-center">
        <div>
            <h1>글 리스트</h1>

            <ul>
                <li th:each="article : ${articles}" class="flex gap-2 items-center">
                    <a th:href="@{|/post/${article.id}|}" th:text="|번호 : ${article.id}|">
                    </a>

                    <a th:href="@{|/post/${article.id}|}" th:text="|제목 : ${article.subject}|">
                    </a>
                    <a th:href="@{|/post/${article.id}|}" th:text="|작성자 : ${article.author.username}|">
                    </a>

                    <a th:href="@{|/post/${article.id}|}" th:text="|작성날짜 : ${article.createDate}|">
                    </a>
                    <a th:href="@{|/post/${article.id}|}" th:text="|수정날짜 : ${article.modifyDate}|">
                    </a>

                </li>
            </ul>
            <div class="grid grid-cols-2 mt-2 gap-2">
                <a href="/post/write" class="btn btn-secondary btn-outline">글 등록</a>
            </div>
        </div>

    </section>

</main>
</body>
</html>