<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>글 리스트</title>
</head>

<body>
<main layout:fragment="main">
    <section class="section section-join flex-grow flex flex-col items-center justify-center">
        <div>
            <h1>글 리스트</h1>
            <div th:if="${not #strings.isEmpty(articles)}">
                <table>
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성 날짜</th>
                        <th>수정 날짜</th>
                    </tr>
                    <tr th:each="article : ${articles}">
                        <td th:text="${article.id}" th:id="${article.id}"
                            th:onclick="showDetailArticle(this.getAttribute('id'))"
                        ></td>
                        <td th:text="${article.subject}" th:id="${article.id}"
                            th:onclick="showDetailArticle(this.getAttribute('id'))"></td>
                        <td th:text="${article.author.username}" th:id="${article.id}"
                            th:onclick="showDetailArticle(this.getAttribute('id'))"></td>
                        <td th:text="${article.createDate}" th:id="${article.id}"
                            th:onclick="showDetailArticle(this.getAttribute('id'))"></td>
                        <td th:text="${article.modifyDate}" th:id="${article.id}"
                            th:onclick="showDetailArticle(this.getAttribute('id'))"></td>
                    </tr>
                </table>
            </div>

            <div class="grid grid-cols-2 mt-2 gap-2">
                <a href="/post/write" class="btn btn-secondary btn-outline">글 등록</a>
                <button type="button" onclick="history.back();" class="btn btn-secondary btn-outline">취소</button>
            </div>
        </div>

    </section>

</main>
</body>
</html>