<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <title>글 수정</title>
    <!--위지윅 에디터-->
    <script src="https://cdn.ckeditor.com/4.20.0/standard/ckeditor.js"></script>
</head>

<body>
<main layout:fragment="main">
    <section class="section section-join flex-grow flex flex-col items-center justify-center">
        <div>
            <h1>글 수정 </h1>
            <script>
                function ModifyForm__submit(form) {
                    form.subject.value = form.subject.value.trim();

                    if (form.subject.value.length == 0) {
                        alert("제목을 입력해주세요.");
                        form.subject.focus();
                        return;
                    }

                    form.submit();
                }
            </script>
            <form th:action method="POST" enctype="multipart/form-data" onsubmit="ModifyForm__submit(this); return false;">
                <div>
                    <span>제목</span>
                    <input type="text" name="subject" th:value="${article.subject}">
                </div>
                <div>
                    <span>내용</span>
                    <textarea id="editor" name="content" th:text="${article.content}"></textarea>
                    <script>
                        CKEDITOR.replace('content');
                    </script>
                </div>
                <div>
                    <span>해시태그</span>
                    <input type="text" name="hashTagContents" placeholder="#태그1 #태그2"
                           th:value="${article.extra_inputValue_hashTagContents}"/>
                </div>

                <div>
                    <span>글수정</span>
                    <input type="submit" value="수정">
                </div>
            </form>
        </div>
    </section>
</main>
</body>
</html>